@use "../../styles/palette.module";

.container {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 16px;
  border: unset !important;

  .title {
    color: white;
    font-weight: 400;
    text-decoration: unset;
  }

  .linksContainer {
    display: flex;
    gap: 16px;

    .pageText {
      color: palette.$fontColor;
      text-decoration: transparent;

      &:hover {
        font-weight: 700;
      }
    }

    .activePageText {
      @extend .pageText;
      font-weight: 700;
      text-decoration: underline;
      text-decoration-thickness: 1.3px;
      text-underline-offset: 3px;
    }
  }
}
