@use "../../styles/palette.module";

.container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border: unset !important;

  .logoAndLinks {
    display: flex;
    gap: 32px;
    align-items: center;

    .linksContainer {
      display: flex;
      gap: 16px;

      .pageText {
        color: palette.$fontColor;
        text-decoration: transparent;

        &:hover {
          font-weight: 700;
        }
      }

      .activePageText {
        @extend .pageText;
        font-weight: 700;
        text-decoration: underline;
        text-decoration-thickness: 1.3px;
        text-underline-offset: 3px;
      }
    }
  }

  .userPreview {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
