{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "bracketSpacing": false,
  "printWidth": 120,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^[a-z]",
    "^@mui/(.*)$",
    "^@components/(.*)$",
    "^@customTypes/(.*)$",
    "^@enums/(.*)$",
    "^@",
    "^@styles/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true
}
