@use "../../styles/palette.module";

.container {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  .detailsContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 60%;

    .header {
      display: flex;
      gap: 8px;
      align-items: center;
    }

    .content {
      display: flex;
      height: 100%;
      align-self: flex-start;

      .text {
        word-wrap: break-word;
        overflow-wrap: anywhere;
      }
    }

    .actions {
      display: flex;
      gap: 8px;
      justify-self: flex-end;
      align-items: center;

      .actionButton {
        display: flex;
        gap: 6px;
        align-items: center;
        transition: background-color 0.2s;

        > svg {
          fill: palette.$fontColor;
        }

        &:hover {
          > svg {
            fill: black;
          }

          p {
            color: black;
          }
        }
      }
    }
  }

  .postImage {
    width: 40%;
    justify-self: flex-end;
    align-content: center;

    > img {
      width: 100%;
      border-radius: 8px;
      object-fit: cover;
    }
  }
}
